<tr class="<%= product.examine ? 'bg-green' : '' %>">
  <td>
    <%= button_tag class: "btn btn-sm btn-default", onclick: "toggleVariant(#{product.id})" do %>
      <i class="fa fa-angle-double-down"></i>
    <% end %>
    <% if !product.examine %>
      <%= button_tag class: "btn btn-sm btn-success", onclick: "toggleExamine(this)",
        data: {product_draft_id: product.id} do %>
        <i class="fa fa-check"></i>
      <% end %>
    <% else %>
      <%= button_tag class: "btn btn-sm btn-warning", onclick: "toggleExamine(this)",
        data: {product_draft_id: product.id} do %>
        <i class="fa fa-times"></i>
      <% end %>
    <% end %>
    <%= button_tag class: "btn btn-sm btn-primary",data: {target: "#product_#{product.id}", toggle: 'modal'} do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  </td>
  <% ['product_code','name','category','shop_by_room', 'brand_name','brand_origin','bio','base_followers_count',
      'buyer'].each do |attr| %>
    <td>
      <%= text_field_tag attr, product.send(attr),
        class: "form-control update_item #{ product.validation_errors[attr] ? 'bg-yellow' : '' }",
        data:{url: "/product_drafts/#{product.id}/update_attr", attrname: attr } %>
    </td>
  <% end %>
</tr>
<tr id="product_<%= product.id %>_variants" hidden>
  <% attr_arr = ['sku','color', 'size', 'retail_price', 'price', 'cost_price', 'weight', 'height', 'width', 'depth','sku_attributes'] %>
  <td class="bg-gray" colspan="<%= attr_arr.count %>">
    <table class="table sortable bg-gray">
      <thead>
        <tr>
          <% attr_arr.each do |attr| %>
            <th><%= attr.titlecase %></th>
          <% end %>
          <th><%= 'validation_errors'.titlecase %></th>
        </tr>
      </thead>
      <tbody>
        <% product.variants.each do |variant| %>
          <tr>
            <% attr_arr.each do |attr| %>
              <td>
                <%= text_field_tag attr, variant.send(attr),
                  class: "form-control update_item #{ variant.validation_errors[attr] ? 'bg-yellow' : '' }",
                  data:{url: "/product_drafts/#{product.id}/variants/#{variant.id}/update_attr", attrname: attr } %>
               </td>
             <% end %>
            <td>
              <%= variant.validation_errors %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </td>
</tr>
