<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">



    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">功能</li>
      <!-- Optionally, you can add icons to the links -->
      <% if can?(:index, Merchant) %>
      <li class="<%= controller_name == 'merchants' ? 'active' : '' %>">
        <%= link_to merchants_path do %>
          <i class="fa fa-link"></i> <span>商户管理</span>
        <% end %>
      </li>
      <% end %>
      <% if can?(:index, :inspect_merchants) %>
      <li class="<%= controller_name == 'inspect_merchants' ? 'active' : '' %>">
        <%= link_to inspect_merchants_path do %>
          <i class="fa fa-link"></i> <span>审核</span>
        <% end %>
      </li>
      <% end %>
      <% if can?(:index, User) %>
      <li class="<%= controller_name == 'uses' ? 'active' : '' %>">
        <%= link_to users_path do %>
          <i class="fa fa-link"></i> <span>管理用户</span>
        <% end %>
      </li>
      <% end %>
      <li class="<%= controller_name == 'upload_img' ? 'active' : '' %>">
        <%= link_to upload_img_index_path, target: '_blank' do %>
          <i class="fa fa-link"></i> <span>上传图片</span>
        <% end %>
      </li>
      <li class="<%= controller_name == 'error_logs' ? 'active' : '' %>">
        <%= link_to error_logs_path, target: '_blank' do %>
          <i class="fa fa-link"></i> <span>错误信息</span>
        <% end %>
      </li>
      <%#<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>%>
      <%#<li class="treeview">%>
        <%#<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>%>
          <%#<span class="pull-right-container">%>
            <%#<i class="fa fa-angle-left pull-right"></i>%>
          <%#</span>%>
        <%#</a>%>
        <%#<ul class="treeview-menu">%>
          <%#<li><a href="#">Link in level 2</a></li>%>
          <%#<li><a href="#">Link in level 2</a></li>%>
        <%#</ul>%>
      <%#</li>%>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
